/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}
/* Header */
.header {
    background: #f8f9fa;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #9d9898;
}
.home{
    margin: 5px;
    padding: 10px 5px;
    color: white;
    background: rgb(71, 71, 222);
    text-decoration: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.header h1 {
    font-size: 20px;
    margin: 0;
}
.nav a {
    margin-left: 1px;
    text-decoration: none;
}
.nav a:hover {
    color: #007bff;
}
/* gambar1 Section */
.gambar1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    background: #3c6c9f;
    color: white;
    flex-wrap: wrap;
}
.gambar1-text {
    max-width: 40%;
}
.gambar1 h2 {
    margin-bottom: 10px;
}
.gambar1 p {
    margin-bottom: 20px;
}
.gambar1 .btn {
    margin: 5px;
    padding: 10px 40px;
    color: white;
    background: #3c6c9f;
    text-decoration: none;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
}
.gambar1 .btn:hover {
    background: #88bcf4;
    color: white;
}
.gambar1-image {
    max-width: 50%; 
    display: flex; 
    justify-content: flex-end; 
}
.gambar1-image img {
    max-width: 50%;
    height: auto 
}
/* form */
.form {
    text-align: center;
    padding: 20px;
    background: #f8f9fa;
}
.form input {
    padding: 5px;
    margin: 10px 0;
    width: 70%;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.form .btn {
    padding: 10px 30px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}
.form .btn:hover {
    background: #0056b3;
}
/* Footer */
.footer {
    background: white;
    color: black;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}
.footer-column {
    flex: 1;
    margin: 10px;
    min-width: 150px;
}
.gambar2-image {
    max-width: 100%; 
    display: flex; 
    justify-content: flex-end; 
}
.gambar2-image img {
    max-width: 100%;
    height: auto;
    
}
.footer h4 {
    margin-bottom: 10px;
}
.footer a {
    display: block;
    margin: 5px 0;
    color: black;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
}
